# Environment files
.env
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Packaging
build/
dist/
*.egg-info/

# Coverage reports
.coverage
htmlcov/

# IDE/Editor files (optional)
.vscode/
.idea/

# OS-specific
.DS_Store